* text=auto eol=lf

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary
*.pdf  binary
*.zip  binary
*.tar  binary
*.gz   binary

*.o   binary
*.a   binary
*.so  binary
*.exe binary
*.dll binary

package-lock.json merge=union
yarn.lock        merge=union